.bio {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    position: static;
    color: white;
    top: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.background {
    background-image: url("../images/portfolio background.jpg");
    background-position: center;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-bottom: 60px;
}
.cushBar {

    display: block;
    width: 100px;
    height: 500px;
    float: left;
}
@media screen and (max-width: 780px)
{
    .cushBar {
        display: none;
    }
}