.projects {
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    position: static;
    color: white;
    left: 0px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.overview {
    text-align: left;
}
.project1 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.project2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
#project1Image {
    margin-top: 185px;
    background-image: url("../images/Mysteria1.PNG");
    background-size: 200px;
    display: block;
    height: 200px;
    width: 200px;
    color: black;
}
#project2Image {
    background-image: url("../images/object_cube.png");
    background-size: 200px;
    display: block;
    height: 200px;
    width: 200px;
    color: black;
}
.projectBackground {
    background-image: url("../images/portfolio background.jpg");
    background-position: center;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-bottom: 60px;
}
.projectSideBar {
    border: 2px solid green;
    height: 800px;
    width: 200px;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
    color: white;
    text-align: center;
}
.projectCushBar {
    position: static;
    display: block;
    width: 100px;
    height: 500px;
    float: left;
}
@media screen and (max-width: 780px)
{
    .projectCushBar {
        display: none;
    }
}