.topImage {
    height: 100%;
}
.jumbotron {
    background-image: url(../images/WebsiteCodeRotate1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 200px;
    min-width: 100%;
    position: static;
}
.Header {
    display: block;
    position: relative;
    color: white;
    bottom: 40px;
    width: auto;
    text-align: right;
    padding-right: 250px;
}
@media screen and (max-width: 680px)
{
    .lead {
        display: none;
    }
}