.jumbotron {
    background-image: url(../images/WebsiteCodeRotate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% auto;
    color: white;
    border: 2px solid yellow;
    margin-bottom: 0px;
}