.navbar-brand {
    color: #aaa;
}

a {
    color: #aaa;
    font-weight: 200;
}
.navbar {
    background-color: #333;
    display: block;
    width: auto;
}
.navContainer {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 300px;
    height: auto;
    text-align: center;
    float: right;
}
.nav-link {
    display: inline-block;
    padding-right: 5px;
}