.sidebar {
    margin-left: 20px;
}
.pic {
    background-image: url(..\images\portrait.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 270px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: static;
}
@media screen and (max-width: 580px)
{
    .sidebar {
        display: none;
    }
}
.info {
    text-align: center;
    width: 200px;
    color: white;
    position: relative;
    top: 0px;
    border: 2px solid black;
    padding: 5px;
}