.pic {
    background-image: url(..\images\portrait.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 350px;
    border: 2px solid blue;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.info {
    border: 2px solid black;
    display: block;
}